.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.main {
    width: 45%;
    height: 70%;
}

body,
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(200,200,225,0.8), rgba(35,35,45,0.8)), url("/assets/img/nate_retro_tile.png");
    background-size: 64px;
}
