<!doctype html>
<html>
    <head>
        <title>98.css example</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/98.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        <div class="container">
            <div class="window main">
                <div class="title-bar">
                    <div class="title-bar-text">My First VB4 Program</div>
                </div>
                <div class="window-body">
                    <p>Hello, world!</p>
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
