---
layout: default
---

<center>
  <h4>Welcome to the Nate Stream Incubator!</h4>
</center>


<p>⭐ Recent Posts ⭐:</p>

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

{% if posts.size > 0 %}
  {% if page.list_title %}
  <h5 class="post-list-heading">{{ page.list_title }}</h5>
  {% endif %}

  <div class="sunken-panel" style="min-height: 30vh;overflow: scroll;">
    <table class="interactive" style="width: 100%">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr hx-get="{{ post.url | relative_url }}" hx-target="body" hx-push-url="true" preload="preload:init">
            <td>{{ post.date | date: date_format }}</td>
            <td>{{ post.title | escape }}</td>
            <td>{{ post.author | escape }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}

{% if site.paginate %}
<div class="pager">
  <ul class="pagination">
    {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page" hx-boost="true" preload="preload:init">{{ paginator.previous_page }}</a></li>
    {%- else %}
      <li><div class="pager-edge">•</div></li>
    {%- endif %}
      <li><div class="current-page">{{ paginator.page }}</div></li>
    {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page" hx-boost="true" preload="preload:init">{{ paginator.next_page }}</a></li>
    {%- else %}
      <li><div class="pager-edge">•</div></li>
    {%- endif %}
  </ul>
</div>
{%- endif %}
